<%= form_for(@feeds_user) do |f| %>
  <% if @feeds_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeds_user.errors.count, "error") %> prohibited this feeds_user from being saved:</h2>

      <ul>
      <% @feeds_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Website" %><br/>

    <%= f.select(:feed_id, Feed.all.collect { |p| [p.name, Feed.find_by_url(p.url).id]}) %>
    <%= f.hidden_field :user_id, {:value => current_user.id} %>

  </div>

  <div class="actions">
    <%= f.submit "Add Feed" %>
  </div>
<% end %>
