<p id="notice"><%= notice %></p>



  <% if !params[:search] %>

    <% @feeds_users.each do |feeds_user| %>
        <% Feedjira::Feed.add_common_feed_element 'image' %>

        <% current_feed = Feedjira::Feed.fetch_and_parse(Feed.find_by_feed_id(feeds_user.feed_id).url) %>
        <h1><%= current_feed.title %></h1>

        <% if(!current_feed.image.nil?) %>
            <h2><img src='<%= current_feed.image.split(' ').first %>'></h2>
        <% end %>
        <% current_article = current_feed.entries %>
        <% current_article[1..5].each do |article| %>
            Title:<%= article.title %>  <br/>
            Date: <%= article.published %> <br/>
            Summary: <%= sanitize strip_tags(article.summary) %> <br/>

            <%= link_to "Read full article", article.url %><br/><br/>
        <% end %>
    <span> <%= link_to 'Show More Articles', feeds_user %>   </span>
    <span>   <%= link_to 'Remove Feed', feeds_user, method: :delete, data: { confirm: 'Are you sure?' } %></span>

    <% end %>


  <% else %>
    <% @returned_articles.each do |article| %>
        <h3><%= article.title %></h3>
        <%= link_to "Read full article", article.url %>
        <p><%= strip_tags(article.summary) %></p>
    <% end %>

  <% end %>


