<p id="notice"><%= notice %></p>

<div class="btn-group">
  <%= link_to 'Add New Article', new_feeds_user_path, :class => "btn btn-default" %></a>

</div>

  <% if !params[:search] %>

    <% @feeds_users.each do |feeds_user| %>
        <% Feedjira::Feed.add_common_feed_element 'image' %>


        <div class="page-header">


        <% current_feed = Feedjira::Feed.fetch_and_parse(Feed.find_by_feed_id(feeds_user.feed_id).url) %>
        <h1><%= current_feed.title %></h1>


        <% if(!current_feed.image.nil?) %>
            <h2><img src='<%= current_feed.image.split(' ').first %>'></h2>
        <% end %>
        </div>
        <div class="row">


        <% current_article = current_feed.entries %>
        <% current_article[0..11].each do |article| %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="span4" >
                <div class="panel panel-primary ">

                      <div class="panel-heading" style="min-height: 115px; max-height: 115px;">

                      <h3 class="panel-title">
                        <%= article.title.titleize %>
                      </h3>
                        <br/>
                        Date: <%= article.published.strftime("%B %d, %Y") %> <br/>
                      </div>
                      <div class="panel-body" style="min-height: 220px; max-height: 220px;">


                        <%= sanitize strip_tags(article.summary[0..250]) %>... <br/>

                        <%= link_to "Read full article", article.url %><br/><br/>
                      </div>
                    </div>
                </div>
              </div>

        <% end %>
        </div>

        <div class="btn-group">
            <%= link_to 'Show More Articles', feeds_user, :class => "btn btn-default" %></a>
            <%= link_to 'Remove Feed', feeds_user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
        </div>
    <% end %>


  <% else %>
    <% @returned_articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-primary">
            <div class="panel-heading" style="min-height: 115px; max-height: 115px;">

              <h3 class="panel-title">    <b><%= article.title %> </b></h3> <br/>
              Date: <%= article.published %> <br/>
            </div>
            <div class="panel-body" style="min-height: 220px; max-height: 220px;">


              <%= sanitize strip_tags(article.summary[0..250]) %>... <br/>

              <%= link_to "Read full article", article.url %><br/><br/>

            </div>
          </div>
        </div>
    <% end %>

  <% end %>


