<p id="notice"><%= notice %></p>

<ul class="nav navbar-nav navbar-right" style="padding-top:5px">
  <li>   <%= form_tag(feeds_users_path, :method => "get", id: "search-form") do %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
          <button type="submit" class="btn-group btn-group-xs">Search</button>
        </div>
    <% end %>
  </li>
</ul>


<div class="btn-group">
  <%= link_to 'Add New Article', new_feeds_user_path, :class => "btn btn-default" %></a>

</div><br/><br/>

  <% if !params[:search] %>

    <% @feeds_users.each do |feed| %>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 ">
          <div class="panel panel-primary">
            <div class="panel-heading" style="border:none; box-shadow:none; min-height: 115px; max-height: 115px;">
              <img src='<%=feed[:img_link] %>' class="pull-left" style="height:35px; width:35%" >
                <div class="clearfix"></div>
              <h3 class="panel-title pull-right">
                <%= feed[:title].titleize %>
              </h3>
              <br/>
             <span class="pull-right"><%= feed[:published].strftime("%B %d, %Y") %> </span><br/>
            </div>





            <div class="panel-body" style="min-height: 180px; max-height: 180px;" >
              <%=sanitize strip_tags feed[:summary][0..250] %>...
            </div>
            <span class="pull-right"><%= link_to "Read full article", feed[:url] %></span><br/><br/>
          </div>
        </div>

    <% end %>


  <% else %>
    <% @returned_articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-primary">
            <div class="panel-heading" style="min-height: 115px; max-height: 115px;">

              <h3 class="panel-title">    <b><%= article.title %> </b></h3> <br/>
              Date: <%= article.published %> <br/>
            </div>
            <div class="panel-body" style="min-height: 220px; max-height: 220px;">


              <%= sanitize strip_tags(article.summary[0..250]) %>... <br/>

              <%= link_to "Read full article", article.url %><br/><br/>

            </div>
          </div>
        </div>
    <% end %>

  <% end %>


