<%= form_for(@twitter_user) do |f| %>
  <% if @twitter_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_user.errors.count, "error") %> prohibited this twitter_user from being saved:</h2>

      <ul>
      <% @twitter_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, {:value => current_user.id} %>
    <div class="field">
      <%= f.label "Twitter Handles" %><br/>

      <%= f.select(:twitter_id, TwitterHandle.all.collect { |p| ['@' + p.twitter_id, TwitterHandle.find_by_twitter_id(p.twitter_id).twitter_id]}) %>
      <%= f.hidden_field :user_id, {:value => current_user.id} %>

    </div>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
