<p id="notice"><%= notice %></p>

    <% all_tweets = [] %>

    <% @twitter_users.each do |twitter_user| %>

        <h1><%=twitter_user.twitter_id %></h1>
        <ul>
            <% @client.user_timeline(twitter_user.twitter_id)[0..4].each  do |tweet|  %>
            <% all_tweets.push(twitter_user.twitter_id + ": " + tweet.full_text) %>

                <li><%=auto_link tweet.full_text%></li>

            <% end %>
        </ul>
        <%= link_to 'Destroy', twitter_user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% all_tweets.shuffle!.each do |tweet| %>
        <li><%= auto_link tweet %></li>
    <% end %>




<br>

<%= link_to 'Follow another twitter user', new_twitter_user_path %>
